@model List<SistemaMediMan.Models.ViewModels.ListDeporteViewModel>
@{
    ViewBag.Title = "Deportes";
}

<h2>@ViewBag</h2>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-1 offset-sm-1 col-lg-10 col-sm-10">
                <table class="table table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Deporte</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            @foreach (var deporte in Model)
                            {
                                <td>@deporte.Id</td>
                                <td>@deporte.Nombre</td>
                                <td>
                                    <a class="btn btn-warning" href="">Editar</a>
                                    <form action="" method="POST" style="display:inline">
                                        <button class="btn btn-danger" type="submit" onclick="return confirm('¿Desea eliminar el registro?');">Eliminar</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form action="@Url.Action("Create","Deporte")" method="get">
            <div class="row">
                <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                    <button class="btn">Agregar</button>
                </div>
            </div>
        </form>
    </div> <!--fin container-->
</main>

