
@{
    ViewBag.Title = "Acceder";
}
    <link href="~/Content/estilos.css" rel="stylesheet" />
<main>
    <div class="modal-dialog text-center">
        <div class="col-sm-12 main-section">
            <!--Modal Content-->
            <div class="modal-content">
                <div class="logo-img col-12">
                    <img src="~/Content/img/logoRS.png">
                </div>
                <form action="~/Views/Home/Calendario" method="get" class="col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="user" placeholder="Usuario">

                        <input type="text" class="form-control" name="pass" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Acceder</button>
                </form>
            </div> <!--fin modal-content-->
        </div>
    </div>
</main>
