@{
    ViewBag.Title = "Acceder";
}

    <main>
        <div class="modal-dialog text-center">
            <div class="col-sm-12 main-section">
                <!--Modal Content-->
                <div class="modal-content">
                    <div class="col-12 logo-img">
                        <img src="img/logoRS.png">
                    </div>
                    <form class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="user" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="pass" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Acceder</button>
                    </form>
                </div> <!--fin modal-content-->
            </div>
        </div>
    </main>