@model IEnumerable<SistemaMediMan.Models.ACTIVIDADES>

    <select id="ACT_ID" name="ACT_ID">
        <option value="">Seleccione</option>
        @foreach (var item in Model)
        {

            <option value="@item.ID">@item.ACTIVIDAD</option>
        }
    </select>


